In [ ]:
!pip install catboost

In [ ]:
!git clone https://ueberchild:mypass@github.com/trmasha2002/nti_final_bdimo.git

In [1]:
using_catboost = True # and only it
import pandas as pd
import numpy as np

In [2]:
import os
data_prefix = ''
if os.path.isdir('data/'):
    data_prefix = 'data/'
if os.path.isdir('nti_final_bdimo'):
    data_prefix = 'nti_final_bdimo/'
    if os.path.isdir('nti_final_bdimo/data'):
        data_prefix += 'data/'
del os
studs_info = pd.read_csv(data_prefix + 'studs_info.csv')
X_train = pd.read_csv(data_prefix + 'X_train.csv', index_col=0)
y_train = pd.read_csv(data_prefix + 'y_train.csv',index_col=0)
X_test = pd.read_csv(data_prefix + 'X_test.csv', index_col=0)

X_train['mark'] = y_train['mark'] - 3
del y_train
X_train

,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,mark
51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,2
72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",2
96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,2
273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,1
371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,0
...,...,...,...,...,...,...,...,...
224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,0
260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,0
57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,1
218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,1
233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,1

In [3]:
def year_cleaning(X):
    for i in X.index:
        X.at[i, 'ГОД'] = str(X.at[i, 'ГОД'])[:str(X.at[i, 'ГОД']).find('-')]
    X['ГОД'] = X['ГОД'].astype(int)
    return X
    
X_train = year_cleaning(X_train)
X_test = year_cleaning(X_test)

In [4]:
def date_cleaning(X):
    for i in range(len(X)):
        X.at[i, 'Дата выдачи'] = str(X.at[i, 'Дата выдачи'])[:str(X.at[i, 'Дата выдачи']).find(' 00:00:00')]
        X.at[i, 'Дата выдачи'] = X.at[i, 'Дата выдачи'].replace('3017', '2017').replace('2105', '2015')
        if str(X.at[i, 'Дата выдачи']).startswith('29'):
            X.at[i, 'Дата выдачи'] = '20' + str(X.at[i, 'Дата выдачи'])[2:]
        for t_r in (('27.06.021', '2014-06-27'), ('24.06.021', '2016-06-24'), 
        ('20.06.021', '2017-06-29'), ('25.06.021', '2015-06-25'), ('6014-06-26', '2014-06-26'),
        ('2017-01-', '2017-01-01'), ('2017-01-0', '2017-01-05'), ('2017-06-', '2017-06-15'),
        ('2014-03-0', '2014-03-03'), ('6014-01-01', '2014-01-01'), ('20.02.100', '2009-02-20')):
            if X.at[i, 'Дата выдачи'] == t_r[0]:
                X.at[i, 'Дата выдачи'] = t_r[1]
        if X.at[i, 'Дата выдачи'] in ('na', 'Non', 'N', 'Na', '6014-', '6', '6014', '601', '60', '291', '29'):
            X.at[i, 'Дата выдачи'] = None
        X.at[i, 'Дата выдачи'] = pd.to_datetime(X.at[i, 'Дата выдачи'])
    X['Дата выдачи'] = pd.to_datetime(X['Дата выдачи'])
    return X
studs_info = date_cleaning(studs_info).sort_values(by='Дата выдачи').drop_duplicates(
    keep='last', subset='STD_ID'
)

In [5]:
studs_info

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
2660,193905,5208.0,Ж,СТ,NaN,ДОГ,З,44.03.03,Специальное (дефектологическое) образование,6324.0,СП,1983-06-30,ТЕХНИКУМ ДРУГОЙ
5449,113179,1216.0,Ж,СТ,NaN,БП,Д,31.05.01,Лечебное дело,2976.0,СП,1986-03-17,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
2066,198298,6933.0,М,СТ,NaN,ДОГ,З,38.03.02,Менеджмент,7099.0,СП,1986-08-28,ТЕХНИКУМ ДРУГОЙ
1730,192576,5045.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,10920.0,СР,1989-06-17,"СОШ , МАРЕВО"
3378,182240,4975.0,Ж,СТ,NaN,ДОГ,З,37.03.01,Психология,10866.0,СП,1989-06-28,БОРОВИЧСКИЙ ПЕДАГОГИЧЕСКИЙ КОЛЛЕДЖ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,192577,6545.0,М,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5442,191636,5389.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5443,191638,5422.0,М,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5464,191625,3765.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5465,194978,5245.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN

In [6]:
studs_info = studs_info.set_index('STD_ID')
def merge_with_studs_info(X):
    for c in set(studs_info.columns) - {'STD_ID', '   ', '   number', 'Дата выпуска', 
                                      'Статус', 'направление (специальность)'}:
        X[c] = X.apply(lambda row: studs_info.at[row['STD_ID'], c], axis = 1)
    return X
X_train = merge_with_studs_info(X_train).drop(columns='НАПРАВЛЕНИЕ')
X_test = merge_with_studs_info(X_test).drop(columns='НАПРАВЛЕНИЕ')
del studs_info

In [7]:
def cipher_splitting(X):
    X = X.merge(pd.DataFrame(X.Шифр.str.split('.').tolist(), 
        columns = ['XX','YY', 'ZZ']), 
        on = X.index).drop(columns='key_0')
    X['XX_YY'] = X[['XX', 'YY']].agg('.'.join, axis=1)
    X['XX_ZZ'] = X[['XX', 'ZZ']].agg('.'.join, axis=1)
    return X.drop(columns=['ZZ']).rename(columns={'Шифр': 'XX_YY_ZZ'})
X_train = cipher_splitting(X_train)
X_test = cipher_splitting(X_test)

In [8]:
X_train['is_industrial_practice'] = X_train.ДИСЦИПЛИНА.str.lower().str.contains('практика производственная')
X_train['is_educational_practice'] = X_train.ДИСЦИПЛИНА.str.lower().str.contains('практика учебная')
X_test['is_industrial_practice'] = X_test.ДИСЦИПЛИНА.str.lower().str.contains('практика производственная')
X_test['is_educational_practice'] = X_test.ДИСЦИПЛИНА.str.lower().str.contains('практика учебная')

In [9]:
def cyrillic_cleaning(X):
    trans_dict = {ord(a):ord(b) for a, b in zip(
            u"абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ",
            u"abvgdeejzijklmnoprstufhzcss_y_euaABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA")}
    
    for c in tuple(X.columns):
        new_c = c.translate(trans_dict)
        X.rename(columns={c:new_c}, inplace = True)
        if X[new_c].dtype.name in ('str', 'object', 'category'):
            for ro in range(len(X)):
                if type(X.at[ro, new_c]) == str:
                    X.at[ro, new_c] = X.at[ro, new_c].translate(trans_dict)
    return X
X_train = cyrillic_cleaning(X_train)
X_test = cyrillic_cleaning(X_test)

In [10]:
X_train['KURS'] = X_train['KURS'].astype(int)
X_test['KURS'] = X_test['KURS'].astype(int)

In [11]:
def add_years_from_prev_edu(X):
    def to_apply(row):
        if type(row['Data vydaci']) == pd._libs.tslibs.nattype.NaTType:
            return None
        ret = row['GOD'] - row['Data vydaci'].year + 1 - row['KURS']
        if ret < 0: return 0
        return ret
    X['years_from_prev_edu'] = X.apply(to_apply, axis=1)
    return X
X_train = add_years_from_prev_edu(X_train).drop(columns='Data vydaci')
X_test = add_years_from_prev_edu(X_test).drop(columns='Data vydaci')

In [12]:
full_uniq = X_train.append(X_test, sort=True).drop_duplicates(subset=['STD_ID'])
def clear_nans(X):
    X['Obrazovanie'].fillna('nan', inplace = True)
    X['years_from_prev_edu'].fillna(full_uniq['years_from_prev_edu'].mean(), inplace = True)
    return X
X_train = clear_nans(X_train)
X_test = clear_nans(X_test)
del full_uniq

In [13]:
X_train['male'] = X_train['Pol'].map({'M': True, 'J': False})
X_train.drop(columns='Pol', inplace=True)
X_test['male'] = X_test['Pol'].map({'M': True, 'J': False})
X_test.drop(columns='Pol', inplace=True)

X_train['paid_edu'] = X_train['Kategoria obucenia'].map({'DOG': True, 'BP': False})
X_train.drop(columns='Kategoria obucenia', inplace=True)
X_test['paid_edu'] = X_test['Kategoria obucenia'].map({'DOG': True, 'BP': False})
X_test.drop(columns='Kategoria obucenia', inplace=True)

X_train['first_semester'] = X_train['SEMESTR'].mod(2)
X_test['first_semester'] = X_test['SEMESTR'].mod(2)

In [14]:
int_cols = ['years_from_prev_edu']
str_cols = ['KURS', 'Cto imenno zakoncil', 'ATTESTAZIA', 'SEMESTR',
            'XX', 'YY', 'XX_YY', 'XX_ZZ', 'XX_YY_ZZ',
            'DISZIPLINA', 'Obrazovanie', 'Forma obucenia', 'GOD']
bool_cols = ['male', 'first_semester', 'paid_edu', 
             'is_industrial_practice', 'is_educational_practice']
for c in int_cols:
    X_train[c] = X_train[c].astype(int)
    X_test[c] = X_test[c].astype(int)
for c in str_cols:
    X_train[c] = X_train[c].astype(str)
    X_test[c] = X_test[c].astype(str)
for c in bool_cols:
    X_train[c] = X_train[c].astype(bool)
    X_test[c] = X_test[c].astype(bool)

In [15]:
for c in X_train.columns:
    print(repr(c), 'of type', X_train[c].dtype, 'contains', len(X_train[c].unique()), 
        'unique values and', X_train[c].isna().sum(), 'nans')
print()
for c in X_train.columns:
    print(X_train.groupby(c)['mark'].mean())
    print()

'STD_ID' of type int64 contains 5084 unique values and 0 nans
'GOD' of type object contains 7 unique values and 0 nans
'KURS' of type object contains 6 unique values and 0 nans
'SEMESTR' of type object contains 12 unique values and 0 nans
'ATTESTAZIA' of type object contains 5 unique values and 0 nans
'DISZIPLINA' of type object contains 1400 unique values and 0 nans
'mark' of type int64 contains 3 unique values and 0 nans
'Obrazovanie' of type object contains 8 unique values and 0 nans
'Cto imenno zakoncil' of type object contains 225 unique values and 0 nans
'XX_YY_ZZ' of type object contains 55 unique values and 0 nans
'Forma obucenia' of type object contains 3 unique values and 0 nans
'XX' of type object contains 28 unique values and 0 nans
'YY' of type object contains 3 unique values and 0 nans
'XX_YY' of type object contains 37 unique values and 0 nans
'XX_ZZ' of type object contains 44 unique values and 0 nans
'is_industrial_practice' of type bool contains 2 unique values and 0 nans
'is_educational_practice' of type bool contains 2 unique values and 0 nans
'years_from_prev_edu' of type int64 contains 31 unique values and 0 nans
'male' of type bool contains 2 unique values and 0 nans
'paid_edu' of type bool contains 2 unique values and 0 nans
'first_semester' of type bool contains 2 unique values and 0 nans

STD_ID
57258     0.555556
58419     0.870968
62101     0.827586
65970     1.210526
66520     0.681818
            ...
203270    1.250000
203271    0.857143
203272    0.857143
203283    0.666667
203284    1.000000
Name: mark, Length: 5084, dtype: float64

GOD
2013    1.092033
2014    1.127540
2015    1.104441
2016    1.138081
2017    1.170785
2018    1.212443
2019    1.236803
Name: mark, dtype: float64

KURS
1    1.113697
2    1.139623
3    1.222239
4    1.315951
5    1.421577
6    1.525720
Name: mark, dtype: float64

SEMESTR
1.0     1.093741
10.0    1.485162
11.0    1.529332
12.0    1.514644
2.0     1.133646
3.0     1.096971
4.0     1.201411
5.0     1.194773
6.0     1.262227
7.0     1.255943
8.0     1.428281
9.0     1.393392
Name: mark, dtype: float64

ATTESTAZIA
Differenzirovannyj zacet    1.293297
Ekzamen                     1.126456
Kursovaa rabota             1.131474
Kursovoj proekt             0.944819
Zacet                       1.454545
Name: mark, dtype: float64

DISZIPLINA
1S:predpriatie                                                    1.451923
Administrativnoe pravo                                            0.916129
Agroekologia                                                      1.555556
Agrohimia                                                         1.705882
Agrolandsafty                                                     1.600000
                                                                    ...
Zoogigiena s osnovami proektirovania jivotnovodceskih ob_ektov    1.414634
Zoologia                                                          1.277778
Zoologia bespozvonocnyh                                           1.315789
Zoologia pozvonocnyh                                              1.611111
Zoologia s osnovami obsej biologii                                1.255814
Name: mark, Length: 1400, dtype: float64

mark
0    0
1    1
2    2
Name: mark, dtype: int64

Obrazovanie
NP     0.964939
NS     1.611111
NV     0.909091
OO     0.800000
OSN    1.062500
SP     1.029179
SR     1.216294
nan    1.166777
Name: mark, dtype: float64

Cto imenno zakoncil
Agrarnyj tehnikum g.Novgorod                        0.973753
BOROVICSKIJ AVTOMOBIL_NO-DOROJNYJ KOLLEDJ           0.926773
BOROVICSKIJ PEDAGOGICESKIJ KOLLEDJ                  1.170213
BOROVICSKIJ TEHNIKUM STROITEL_NOJ INDUSTRII         0.724138
BOROVICSKOE MEDIZINSKOE UCILISE                     1.406250
                                                      ...
nan                                                 1.166777
pskovskoe obl. kul_turno-prosvetitel_noe ucilise    1.741935
ptu 15                                              1.076923
tehnikum                                            0.437500
velikolukskij stroitel_nyj tehnikum                 1.117647
Name: mark, Length: 225, dtype: float64

XX_YY_ZZ
01.03.02    1.032197
01.04.02    1.920635
04.05.01    1.275340
05.03.02    1.555076
05.03.06    1.330189
06.03.01    1.460150
07.03.01    1.396129
07.03.03    1.367026
08.03.01    0.914075
08.04.01    1.651163
09.03.01    1.055199
11.03.01    1.059494
11.03.03    1.007673
11.03.04    1.006452
11.04.01    1.375000
11.04.03    1.945055
11.04.04    1.770992
13.03.01    0.789527
15.03.05    0.823567
15.03.06    0.851986
15.04.05    1.211538
21.03.02    1.261981
23.03.03    0.724313
29.03.04    1.218987
31.05.01    1.205835
31.05.03    1.119935
33.05.01    0.996692
34.03.01    1.651163
35.03.01    1.231765
35.03.04    1.348726
35.03.06    0.732289
35.03.07    1.215517
36.03.02    1.372312
36.04.02    1.705128
37.03.01    1.227468
38.03.01    1.114599
38.03.02    1.157895
38.03.03    1.005528
38.03.04    1.135135
38.04.02    1.556604
40.03.01    0.951955
40.04.01    1.711640
42.03.02    1.312130
42.04.02    1.785714
44.03.01    1.276387
44.03.02    1.442827
44.03.03    1.549274
44.03.05    1.379940
45.03.01    1.403805
45.03.02    1.292229
45.04.01    1.833333
46.03.01    1.475904
47.03.01    1.597368
51.03.01    1.514563
54.03.01    1.557401
Name: mark, dtype: float64

Forma obucenia
D    1.246918
V    1.130317
Z    0.978635
Name: mark, dtype: float64

XX
01    1.126904
04    1.275340
05    1.424932
06    1.460150
07    1.384101
08    0.921523
09    1.055199
11    1.086436
13    0.789527
15    0.838470
21    1.261981
23    0.724313
29    1.218987
31    1.183942
33    0.996692
34    1.651163
35    1.057563
36    1.403893
37    1.227468
38    1.117075
40    0.996726
42    1.315377
44    1.378240
45    1.332273
46    1.475904
47    1.597368
51    1.514563
54    1.557401
Name: mark, dtype: float64

YY
03    1.181422
04    1.704044
05    1.172968
Name: mark, dtype: float64

XX_YY
01.03    1.032197
01.04    1.920635
04.05    1.275340
05.03    1.424932
06.03    1.460150
07.03    1.384101
08.03    0.914075
08.04    1.651163
09.03    1.055199
11.03    1.021994
11.04    1.759259
13.03    0.789527
15.03    0.827869
15.04    1.211538
21.03    1.261981
23.03    0.724313
29.03    1.218987
31.05    1.183942
33.05    0.996692
34.03    1.651163
35.03    1.057563
36.03    1.372312
36.04    1.705128
37.03    1.227468
38.03    1.112758
38.04    1.556604
40.03    0.951955
40.04    1.711640
42.03    1.312130
42.04    1.785714
44.03    1.378240
45.03    1.320857
45.04    1.833333
46.03    1.475904
47.03    1.597368
51.03    1.514563
54.03    1.557401
Name: mark, dtype: float64

XX_ZZ
01.02    1.126904
04.01    1.275340
05.02    1.555076
05.06    1.330189
06.01    1.460150
07.01    1.396129
07.03    1.367026
08.01    0.921523
09.01    1.055199
11.01    1.077566
11.03    1.059215
11.04    1.174497
13.01    0.789527
15.05    0.836137
15.06    0.851986
21.02    1.261981
23.03    0.724313
29.04    1.218987
31.01    1.205835
31.03    1.119935
33.01    0.996692
34.01    1.651163
35.01    1.231765
35.04    1.348726
35.06    0.732289
35.07    1.215517
36.02    1.403893
37.01    1.227468
38.01    1.114599
38.02    1.170145
38.03    1.005528
38.04    1.135135
40.01    0.996726
42.02    1.315377
44.01    1.276387
44.02    1.442827
44.03    1.549274
44.05    1.379940
45.01    1.438835
45.02    1.292229
46.01    1.475904
47.01    1.597368
51.01    1.514563
54.01    1.557401
Name: mark, dtype: float64

is_industrial_practice
False    1.156551
True     1.643303
Name: mark, dtype: float64

is_educational_practice
False    1.165472
True     1.488538
Name: mark, dtype: float64

years_from_prev_edu
0     1.308261
1     0.986652
2     0.844502
3     0.930587
4     1.139901
5     1.019027
6     1.008230
7     1.035644
8     0.943478
9     1.102222
10    1.081301
11    1.202652
12    0.988584
13    0.922849
14    1.201681
15    1.156780
16    1.149038
17    1.044248
18    1.250000
19    1.321678
20    1.250000
21    1.458333
22    1.075000
23    1.043478
24    1.328125
25    1.437500
27    1.666667
28    1.649123
29    1.297297
32    1.000000
35    1.500000
Name: mark, dtype: float64

male
False    1.326895
True     0.961335
Name: mark, dtype: float64

paid_edu
False    1.391730
True     0.937139
Name: mark, dtype: float64

first_semester
False    1.218064
True     1.158607
Name: mark, dtype: float64

In [16]:
full_df = X_train.append(X_test, sort=True)

In [17]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
for c in str_cols:
    X_train[c] = X_train[c].fillna('NaN').astype(str)
    X_test[c] = X_test[c].fillna('NaN').astype(str)
    enc.fit(full_df.loc[:,c])
    X_train.loc[:, c] = enc.transform(X_train.loc[:,c])
    X_test.loc[:, c] = enc.transform(X_test.loc[:, c])

In [18]:
del full_df

In [19]:
if 'key_0' in X_train.columns:
    X_train.drop(columns='key_0', inplace = True)
if 'key_0' in X_test.columns:
    X_test.drop(columns='key_0', inplace = True)

In [20]:
X_test

,STD_ID,GOD,KURS,SEMESTR,ATTESTAZIA,DISZIPLINA,Obrazovanie,Cto imenno zakoncil,XX_YY_ZZ,Forma obucenia,XX,YY,XX_YY,XX_ZZ,is_industrial_practice,is_educational_practice,years_from_prev_edu,male,paid_edu,first_semester
0,163261,5,2,7,0,338,5,24,29,2,16,0,20,23,False,False,0,False,False,True
1,162990,6,3,9,1,1105,6,31,22,0,11,0,15,16,False,False,0,False,False,True
2,192595,5,0,4,1,350,6,31,40,0,20,0,26,32,False,False,0,True,True,False
3,198675,5,1,5,0,326,6,180,35,0,19,0,24,28,False,False,0,True,True,True
4,162111,5,2,8,1,216,6,51,47,0,22,0,30,37,False,False,0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26260,164804,6,3,9,1,193,6,31,24,0,13,2,17,18,False,False,0,False,False,True
26261,170508,6,3,9,0,35,5,24,40,2,20,0,26,32,False,False,1,False,True,True
26262,178316,4,0,4,1,260,6,31,25,0,13,2,17,19,False,False,0,False,True,False
26263,186542,6,1,5,0,324,5,24,51,0,24,0,33,40,False,False,0,False,False,True
26264,182741,5,1,5,1,19,6,133,10,0,6,0,8,8,False,False,2,True,True,True

In [21]:
class RmseMetric(object):
    def get_final_error(self, error, weight):
        return np.sqrt(error / (weight + 1e-38))

    def is_max_optimal(self):
        return False

    def evaluate(self, approxes, target, weight):
        approx = approxes[0]
        error_sum = 0.0
        weight_sum = 0.0
        for i in range(len(approx)):
            w = 1.0 if weight is None else weight[i]
            weight_sum += w
            error_sum += w * ((approx[i] - target[i])**2)
        return error_sum, weight_sum

In [22]:
from catboost import CatBoostClassifier
model = CatBoostClassifier(random_seed = 1489, border_count = 254,
    n_estimators = 1500, depth = 10,
    cat_features = str_cols + bool_cols + ['STD_ID', ],
    logging_level = 'Silent', eval_metric = RmseMetric()) # , learning_rate = 0.07
model.fit(X_train.drop(columns=['mark']), X_train['mark'])

In [23]:
import datetime

y_pred = pd.read_csv(data_prefix + 'sample_submission.csv',index_col=0)
y_pred["mark"] = model.predict(X_test) + 3
y_pred.to_csv("submission" + str(datetime.datetime.now()) + ".csv")