In [1]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 60kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.0.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [2]:
!git clone https://ueberchild:mypass@github.com/trmasha2002/nti_final_bdimo.git

Cloning into 'nti_final_bdimo'...
remote: Enumerating objects: 65, done.
remote: Counting objects: 100% (65/65), done.
remote: Compressing objects: 100% (54/54), done.
remote: Total 65 (delta 28), reused 39 (delta 9), pack-reused 0
Unpacking objects: 100% (65/65), done.

In [0]:
import pandas as pd
import numpy as np

In [4]:
import os
data_prefix = ''
if os.path.isdir('data/'):
    data_prefix = 'data/'
if os.path.isdir('nti_final_bdimo'):
    data_prefix = 'nti_final_bdimo/'
    if os.path.isdir('nti_final_bdimo/data'):
        data_prefix += 'data/'
del os
studs_info = pd.read_csv(data_prefix + 'studs_info.csv')
X_train = pd.read_csv(data_prefix + 'X_train.csv', index_col=0)
y_train = pd.read_csv(data_prefix + 'y_train.csv',index_col=0)
X_test = pd.read_csv(data_prefix + 'X_test.csv', index_col=0)

X_train['mark'] = y_train['mark'] - 3
del y_train
X_train

        STD_ID  ... mark
51081   175711  ...    2
72921   100647  ...    2
96438   199311  ...    2
273044  162002  ...    1
371309  108384  ...    0
...        ...  ...  ...
224856  176141  ...    0
260998  182794  ...    0
57245   162391  ...    1
218529  202479  ...    1
233318  182325  ...    1

[105058 rows x 8 columns]

In [7]:
studs_info

      STD_ID     number  ... Дата выдачи                 Что именно закончил
2660  193905     5208.0  ...  1983-06-30                     ТЕХНИКУМ ДРУГОЙ
5449  113179     1216.0  ...  1986-03-17           ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
2066  198298     6933.0  ...  1986-08-28                     ТЕХНИКУМ ДРУГОЙ
1730  192576     5045.0  ...  1989-06-17                        СОШ , МАРЕВО
3378  182240     4975.0  ...  1989-06-28  БОРОВИЧСКИЙ ПЕДАГОГИЧЕСКИЙ КОЛЛЕДЖ
...      ...        ...  ...         ...                                 ...
5441  192577     6545.0  ...         NaT                                 NaN
5442  191636     5389.0  ...         NaT                                 NaN
5443  191638     5422.0  ...         NaT                                 NaN
5464  191625     3765.0  ...         NaT                                 NaN
5465  194978     5245.0  ...         NaT                                 NaN

[5104 rows x 13 columns]

In [0]:
def year_cleaning(X):
    for i in X.index:
        X.at[i, 'ГОД'] = str(X.at[i, 'ГОД'])[:str(X.at[i, 'ГОД']).find('-')]
    X['ГОД'] = X['ГОД'].astype(int)
    return X
    
X_train = year_cleaning(X_train)
X_test = year_cleaning(X_test)

In [0]:
def date_cleaning(X):
    for i in range(len(X)):
        X.at[i, 'Дата выдачи'] = str(X.at[i, 'Дата выдачи'])[:str(X.at[i, 'Дата выдачи']).find(' 00:00:00')]
        X.at[i, 'Дата выдачи'] = X.at[i, 'Дата выдачи'].replace('3017', '2017').replace('2105', '2015')
        if str(X.at[i, 'Дата выдачи']).startswith('29'):
            X.at[i, 'Дата выдачи'] = '20' + str(X.at[i, 'Дата выдачи'])[2:]
        for t_r in (('27.06.021', '2014-06-27'), ('24.06.021', '2016-06-24'), 
        ('20.06.021', '2017-06-29'), ('25.06.021', '2015-06-25'), ('6014-06-26', '2014-06-26'),
        ('2017-01-', '2017-01-01'), ('2017-01-0', '2017-01-05'), ('2017-06-', '2017-06-15'),
        ('2014-03-0', '2014-03-03'), ('6014-01-01', '2014-01-01'), ('20.02.100', '2009-02-20')):
            if X.at[i, 'Дата выдачи'] == t_r[0]:
                X.at[i, 'Дата выдачи'] = t_r[1]
        if X.at[i, 'Дата выдачи'] in ('na', 'Non', 'N', 'Na', '6014-', '6', '6014', '601', '60', '291', '29'):
            X.at[i, 'Дата выдачи'] = None
        X.at[i, 'Дата выдачи'] = pd.to_datetime(X.at[i, 'Дата выдачи'])
    X['Дата выдачи'] = pd.to_datetime(X['Дата выдачи'])
    return X
studs_info = date_cleaning(studs_info).sort_values(by='Дата выдачи').drop_duplicates(
    keep='last', subset='STD_ID'
)

In [0]:
studs_info = studs_info.set_index('STD_ID')
def merge_with_studs_info(X):
    for c in set(studs_info.columns) - {'STD_ID', '   ', '   number', 'Дата выпуска', 
                                      'Статус', 'направление (специальность)'}:
        X[c] = X.apply(lambda row: studs_info.at[row['STD_ID'], c], axis = 1)
    return X
X_train = merge_with_studs_info(X_train).drop(columns='НАПРАВЛЕНИЕ')
X_test = merge_with_studs_info(X_test).drop(columns='НАПРАВЛЕНИЕ')
del studs_info

In [0]:
def cipher_splitting(X):
    X = X.merge(pd.DataFrame(X.Шифр.str.split('.').tolist(), 
        columns = ['XX','YY', 'ZZ']), 
        on = X.index).drop(columns='key_0')
    X['XX_YY'] = X[['XX', 'YY']].agg('.'.join, axis=1)
    X['XX_ZZ'] = X[['XX', 'ZZ']].agg('.'.join, axis=1)
    return X.drop(columns=['ZZ']).rename(columns={'Шифр': 'XX_YY_ZZ'})
X_train = cipher_splitting(X_train)
X_test = cipher_splitting(X_test)

In [0]:
X_train['is_industrial_practice'] = X_train.ДИСЦИПЛИНА.str.lower().str.contains('практика производственная')
X_train['is_educational_practice'] = X_train.ДИСЦИПЛИНА.str.lower().str.contains('практика учебная')
X_test['is_industrial_practice'] = X_test.ДИСЦИПЛИНА.str.lower().str.contains('практика производственная')
X_test['is_educational_practice'] = X_test.ДИСЦИПЛИНА.str.lower().str.contains('практика учебная')

In [0]:
def cyrillic_cleaning(X):
    trans_dict = {ord(a):ord(b) for a, b in zip(
            u"абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ",
            u"abvgdeejzijklmnoprstufhzcss_y_euaABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA")}
    
    for c in tuple(X.columns):
        new_c = c.translate(trans_dict)
        X.rename(columns={c:new_c}, inplace = True)
        if X[new_c].dtype.name in ('str', 'object', 'category'):
            for ro in range(len(X)):
                if type(X.at[ro, new_c]) == str:
                    X.at[ro, new_c] = X.at[ro, new_c].translate(trans_dict)
    return X
X_train = cyrillic_cleaning(X_train)
X_test = cyrillic_cleaning(X_test)

In [0]:
X_train['KURS'] = X_train['KURS'].astype(int)
X_test['KURS'] = X_test['KURS'].astype(int)

In [0]:
gb = X_train.groupby('XX_YY_ZZ')['SEMESTR'].max() - \
    X_train.groupby('XX_YY_ZZ')['SEMESTR'].min()

def add_years_features(X):
    def to_apply(row):
        if type(row['Data vydaci']) == pd._libs.tslibs.nattype.NaTType:
            return None
        ret = row['GOD'] - row['Data vydaci'].year + 1 - row['KURS']
        if ret < 0: return 0
        return ret
    X['years_from_prev_edu'] = X.apply(to_apply, axis=1)
    X['total_semesters'] = X.apply(lambda row: gb[row['XX_YY_ZZ']], axis =1)
    X['completed_edu'] =  X['SEMESTR'] / X['total_semesters']
    
    return X
X_train = add_years_features(X_train).drop(columns='Data vydaci')
X_test = add_years_features(X_test).drop(columns='Data vydaci')

In [0]:
full_uniq = X_train.append(X_test, sort=True).drop_duplicates(subset=['STD_ID'])
def clear_nans(X):
    X['Obrazovanie'].fillna('nan', inplace = True)
    X['years_from_prev_edu'].fillna(full_uniq['years_from_prev_edu'].mean(), inplace = True)
    return X
X_train = clear_nans(X_train)
X_test = clear_nans(X_test)
del full_uniq

In [0]:
X_train['male'] = X_train['Pol'].map({'M': True, 'J': False})
X_train.drop(columns='Pol', inplace=True)
X_test['male'] = X_test['Pol'].map({'M': True, 'J': False})
X_test.drop(columns='Pol', inplace=True)

X_train['paid_edu'] = X_train['Kategoria obucenia'].map({'DOG': True, 'BP': False})
X_train.drop(columns='Kategoria obucenia', inplace=True)
X_test['paid_edu'] = X_test['Kategoria obucenia'].map({'DOG': True, 'BP': False})
X_test.drop(columns='Kategoria obucenia', inplace=True)

X_train['first_semester'] = X_train['SEMESTR'].mod(2)
X_test['first_semester'] = X_test['SEMESTR'].mod(2)

In [0]:
int_cols = ['years_from_prev_edu']
str_cols = ['KURS', 'Cto imenno zakoncil', 'ATTESTAZIA', 'SEMESTR',
            'XX', 'YY', 'XX_YY', 'XX_ZZ', 'XX_YY_ZZ', 'total_semesters',
            'DISZIPLINA', 'Obrazovanie', 'Forma obucenia', 'GOD']
bool_cols = ['male', 'first_semester', 'paid_edu', 
             'is_industrial_practice', 'is_educational_practice']
for c in int_cols:
    X_train[c] = X_train[c].astype(int)
    X_test[c] = X_test[c].astype(int)
for c in str_cols:
    X_train[c] = X_train[c].astype(str)
    X_test[c] = X_test[c].astype(str)
for c in bool_cols:
    X_train[c] = X_train[c].astype(bool)
    X_test[c] = X_test[c].astype(bool)

In [0]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
for c in str_cols:
    X_train[c] = X_train[c].fillna('NaN').astype(str)
    X_test[c] = X_test[c].fillna('NaN').astype(str)
    enc.fit(X_train[c].append(X_test[c]))
    X_train.loc[:, c] = enc.transform(X_train.loc[:,c])
    X_test.loc[:, c] = enc.transform(X_test.loc[:, c])

In [23]:
X_train

        STD_ID  GOD  KURS  ...   male  paid_edu  first_semester
0       175711    5     1  ...   True     False           False
1       100647    2     2  ...  False      True            True
2       199311    6     0  ...  False     False            True
3       162002    4     1  ...   True     False            True
4       108384    5     4  ...  False      True            True
...        ...  ...   ...  ...    ...       ...             ...
105053  176141    4     0  ...  False      True           False
105054  182794    5     1  ...  False      True           False
105055  162391    3     0  ...  False     False           False
105056  202479    4     0  ...  False      True            True
105057  182325    5     1  ...   True      True            True

[105058 rows x 23 columns]

In [0]:
class RmseMetric(object):
    def get_final_error(self, error, weight):
        return np.sqrt(error / (weight + 1e-38))

    def is_max_optimal(self):
        return False

    def evaluate(self, approxes, target, weight):
        approx = approxes[0]
        error_sum = 0.0
        weight_sum = 0.0
        for i in range(len(approx)):
            w = 1.0 if weight is None else weight[i]
            weight_sum += w
            error_sum += w * ((approx[i] - target[i])**2)
        return error_sum, weight_sum

In [25]:
from catboost import CatBoostClassifier
model = CatBoostClassifier(random_seed = 1489, border_count = 254,
    n_estimators = 1700, depth = 10,
    cat_features = str_cols + bool_cols + ['STD_ID', ],
    logging_level = 'Silent', eval_metric = RmseMetric(), rsm = 0.5, 
    bootstrap_type = 'MVS')
model.fit(X_train.drop(columns=['mark']), X_train['mark'])

In [0]:
import datetime

y_pred = pd.read_csv(data_prefix + 'sample_submission.csv',index_col=0)
y_pred["mark"] = model.predict(X_test) + 3
y_pred.to_csv("submission" + str(datetime.datetime.now()) + ".csv")