In [2]:
!pip install catboost

Collecting catboost
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/46/b3/1eec4e4d81b01406a408454d6a6c0bd4628c18d1487bfc6a5f097b62a67e/catboost-0.22-cp27-none-manylinux1_x86_64.whl
Collecting six (from catboost)
  Using cached https://files.pythonhosted.org/packages/65/eb/1f97cb97bfc2390a276969c6fae16075da282f5058082d4cb10c6c5c1dba/six-1.14.0-py2.py3-none-any.whl
Collecting plotly (from catboost)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/f5/c3/03a183b94441da857e7d2b0564cb482bd15824dc1af2d2b337ea6e538c8f/plotly-4.5.4-py2.py3-none-any.whl
Collecting numpy>=1.16.0 (from catboost)
  Using cached https://files.pythonhosted.org/packages/3a/5f/47e578b3ae79e2624e205445ab77a1848acdaa2929a00eeef6b16eaaeb20/numpy-1.16.6-cp27-cp27mu-manylinux1_x86_64.whl
Collecting matplotlib (from catboost)
  Using cached https://files.pythonhosted.org/packages/9d/40/5ba7d4a3f80d39d409f21899972596bf62c8606f1406a825029649eaa439/matplotlib-2.2.5-cp27-cp27mu-manylinux1_x86_64.whl
Collecting enum34; python_version < "3.4" (from catboost)
  Using cached https://files.pythonhosted.org/packages/6f/2c/a9386903ece2ea85e9807e0e062174dc26fdce8b05f216d00491be29fad5/enum34-1.1.10-py2-none-any.whl
Collecting pandas>=0.24.0 (from catboost)
  Using cached https://files.pythonhosted.org/packages/db/83/7d4008ffc2988066ff37f6a0bb6d7b60822367dcb36ba5e39aa7801fda54/pandas-0.24.2-cp27-cp27mu-manylinux1_x86_64.whl
Collecting scipy (from catboost)
  Using cached https://files.pythonhosted.org/packages/24/40/11b12af7f322c1e20446c037c47344d89bab4922b8859419d82cf56d796d/scipy-1.2.3-cp27-cp27mu-manylinux1_x86_64.whl
Collecting graphviz (from catboost)
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/f5/74/dbed754c0abd63768d3a7a7b472da35b08ac442cf87d73d5850a6f32391e/graphviz-0.13.2-py2.py3-none-any.whl
Collecting retrying>=1.3.3 (from plotly->catboost)
  Cache entry deserialization failed, entry ignored
Collecting cycler>=0.10 (from matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting backports.functools-lru-cache (from matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/da/d1/080d2bb13773803648281a49e3918f65b31b7beebf009887a529357fd44a/backports.functools_lru_cache-1.6.1-py2.py3-none-any.whl
Collecting subprocess32 (from matplotlib->catboost)
Collecting kiwisolver>=1.0.1 (from matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/3d/78/cb9248b2289ec31e301137cedbe4ca503a74ca87f88cdbfd2f8be52323bf/kiwisolver-1.1.0-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz (from matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Collecting python-dateutil>=2.1 (from matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/5d/bc/1e58593167fade7b544bfe9502a26dc860940a79ab306e651e7f13be68c2/pyparsing-2.4.6-py2.py3-none-any.whl
Collecting setuptools (from kiwisolver>=1.0.1->matplotlib->catboost)
  Using cached https://files.pythonhosted.org/packages/ab/b5/3679d7c98be5b65fa5522671ef437b792d909cf3908ba54fe9eca5d2a766/setuptools-44.1.0-py2.py3-none-any.whl
Installing collected packages: six, retrying, plotly, numpy, cycler, backports.functools-lru-cache, subprocess32, setuptools, kiwisolver, pytz, python-dateutil, pyparsing, matplotlib, enum34, pandas, scipy, graphviz, catboost
Successfully installed backports.functools-lru-cache-1.6.1 catboost-0.22 cycler-0.10.0 enum34-1.1.10 graphviz-0.13.2 kiwisolver-1.1.0 matplotlib-2.2.5 numpy-1.16.6 pandas-0.24.2 plotly-4.5.4 pyparsing-2.4.6 python-dateutil-2.8.1 pytz-2019.3 retrying-1.3.3 scipy-1.2.3 setuptools-44.1.0 six-1.14.0 subprocess32-3.5.4

In [1]:
!git clone https://ueberchild:AvYxn1IvmbOEuXa@github.com/trmasha2002/nti_final_bdimo.git

Cloning into 'nti_final_bdimo'...
remote: Enumerating objects: 34, done.
remote: Counting objects: 100% (34/34), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 34 (delta 9), reused 27 (delta 5), pack-reused 0
Unpacking objects: 100% (34/34), done.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
data_prefix = ''
if os.path.isdir('data/'):
    data_prefix = 'data/'
if os.path.isdir('nti_final_bdimo'):
    data_prefix = 'nti_final_bdimo/'
    if os.path.isdir('nti_final_bdimo/data'):
        data_prefix += 'data/'
del os
studs_info = pd.read_csv(data_prefix + 'studs_info.csv')
X_train = pd.read_csv(data_prefix + 'X_train.csv', index_col=0)
y_train = pd.read_csv(data_prefix + 'y_train.csv',index_col=0)
X_test = pd.read_csv(data_prefix + 'X_test.csv', index_col=0)

In [3]:
X_train

,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА
51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг
72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг..."
96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия
273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика
371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия
...,...,...,...,...,...,...,...
224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право
260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология
57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык
218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика
233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве

In [4]:
def date_cleaning(X):
    for i in range(len(X)):
        X.at[i, 'Дата выдачи'] = str(X.at[i, 'Дата выдачи'])[:str(X.at[i, 'Дата выдачи']).find(' 00:00:00')]
        X.at[i, 'Дата выдачи'] = X.at[i, 'Дата выдачи'].replace('3017', '2017').replace('2105', '2015')
        if str(X.at[i, 'Дата выдачи']).startswith('29'):
            X.at[i, 'Дата выдачи'] = '20' + str(X.at[i, 'Дата выдачи'])[2:]
        for t_r in (('27.06.021', '2014-06-27'), ('24.06.021', '2016-06-24'), 
        ('20.06.021', '2017-06-29'), ('25.06.021', '2015-06-25'), ('6014-06-26', '2014-06-26'),
        ('2017-01-', '2017-01-01'), ('2017-01-0', '2017-01-05'), ('2017-06-', '2017-06-15'),
        ('2014-03-0', '2014-03-03'), ('6014-01-01', '2014-01-01'), ('20.02.100', '2009-02-20')):
            if X.at[i, 'Дата выдачи'] == t_r[0]:
                X.at[i, 'Дата выдачи'] = t_r[1]
        if X.at[i, 'Дата выдачи'] in ('na', 'Non', 'N', 'Na', '6014-', '6', '6014', '601', '60', '291', '29'):
            X.at[i, 'Дата выдачи'] = None
        X.at[i, 'Дата выдачи'] = pd.to_datetime(X.at[i, 'Дата выдачи'])
    X['Дата выдачи'] = pd.to_datetime(X['Дата выдачи'])
    return X
studs_info = date_cleaning(studs_info).sort_values(by='Дата выдачи').drop_duplicates(
    keep='last', subset='STD_ID'
)

In [5]:
studs_info

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
2660,193905,5208.0,Ж,СТ,NaN,ДОГ,З,44.03.03,Специальное (дефектологическое) образование,6324.0,СП,1983-06-30,ТЕХНИКУМ ДРУГОЙ
5449,113179,1216.0,Ж,СТ,NaN,БП,Д,31.05.01,Лечебное дело,2976.0,СП,1986-03-17,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
2066,198298,6933.0,М,СТ,NaN,ДОГ,З,38.03.02,Менеджмент,7099.0,СП,1986-08-28,ТЕХНИКУМ ДРУГОЙ
1730,192576,5045.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,10920.0,СР,1989-06-17,"СОШ , МАРЕВО"
3378,182240,4975.0,Ж,СТ,NaN,ДОГ,З,37.03.01,Психология,10866.0,СП,1989-06-28,БОРОВИЧСКИЙ ПЕДАГОГИЧЕСКИЙ КОЛЛЕДЖ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,192577,6545.0,М,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5442,191636,5389.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5443,191638,5422.0,М,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5464,191625,3765.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5465,194978,5245.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN

In [6]:
X_train['mark'] = y_train['mark']

In [7]:
studs_info = studs_info.set_index('STD_ID')
def merge_with_studs_info(X):
    for c in set(studs_info.columns) - {'STD_ID', '   ', '   number', 'Дата выпуска', 
                                      'Статус', 'направление (специальность)'}:
        X[c] = X.apply(lambda row: studs_info.at[row['STD_ID'], c], axis = 1)
    return X
X_train = merge_with_studs_info(X_train).drop(columns='НАПРАВЛЕНИЕ')
X_test = merge_with_studs_info(X_test).drop(columns='НАПРАВЛЕНИЕ')
del studs_info

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

to_encode = ('АТТЕСТАЦИЯ', 'ДИСЦИПЛИНА', 'Что именно закончил')
for t_e in to_encode:
    X_train[t_e] = X_train[t_e].fillna('NaN').astype(str)
    X_test[t_e] = X_test[t_e].fillna('NaN').astype(str)
    le.fit(X_train.append(X_test, sort=True).loc[:,t_e])
    X_train.loc[:, t_e] = le.transform(X_train.loc[:,t_e])
    X_test.loc[:, t_e] = le.transform(X_test.loc[:, t_e])

In [9]:
def cipher_splitting(X):
    X = X.merge(pd.DataFrame(X.Шифр.str.split('.').tolist(), 
        columns = ['XX_cipher','YY_cipher', 'ZZ_cipher']), 
        on = X.index).drop(columns='key_0')
    X['XX_ZZ_cipher'] = X[['XX_cipher', 'YY_cipher']].agg('.'.join, axis=1)
    return X.drop(columns=['Шифр', 'ZZ_cipher'])
X_train = cipher_splitting(X_train)
X_test = cipher_splitting(X_test)

In [10]:
stud_mean_mark = X_train.groupby("STD_ID").mean()["mark"]
X_train.loc[:,"stud_mean"] = X_train.loc[:,"STD_ID"].map(stud_mean_mark)
X_test.loc[:,"stud_mean"] = X_test.loc[:,"STD_ID"].map(stud_mean_mark)

In [11]:
def cyrillic_cleaning(X):
    trans = lambda x: x.translate({ord(a):ord(b) for a, b in zip(
            u"абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ",
            u"abvgdeejzijklmnoprstufhzcss_y_euaABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA")})

    for c in tuple(X.columns):
        new_c = trans(c)
        X.rename(columns={c:trans(new_c)}, inplace = True)
        if X[new_c].dtype.name in ('str', 'object', 'category'):
            for ro in range(len(X)):
                if type(X.at[ro, new_c]) == str:
                    X.at[ro, new_c] = trans(X.at[ro, new_c])
    return X
X_train = cyrillic_cleaning(X_train)
X_test = cyrillic_cleaning(X_test)

In [12]:
X_train['is_first_semester'] = X_train['SEMESTR'].mod(2).astype(bool).astype('category')
X_train.drop(columns='SEMESTR', inplace=True)
X_test['is_first_semester'] = X_test['SEMESTR'].mod(2).astype(bool).astype('category')
X_test.drop(columns='SEMESTR', inplace=True)

In [13]:
for i in range(len(X_train)):
    X_train.at[i, 'GOD'] = str(X_train.at[i, 'GOD'])[:str(X_train.at[i, 'GOD']).find('-')]
for i in range(len(X_test)):
    X_test.at[i, 'GOD'] = str(X_test.at[i, 'GOD'])[:str(X_test.at[i, 'GOD']).find('-')]
X_train['GOD'] = X_train['GOD'].astype(int)
X_test['GOD'] = X_test['GOD'].astype(int)

X_train['KURS'] = X_train['KURS'].astype(int)
X_test['KURS'] = X_test['KURS'].astype(int)

In [14]:
def add_years_from_prev_edu(X):
    def to_apply(row):
        if type(row['Data vydaci']) == pd._libs.tslibs.nattype.NaTType:
            return None
        return row['GOD'] - row['Data vydaci'].year + 1 - row['KURS']
    X['years_from_prev_edu'] = X.apply(to_apply, axis=1)
    return X
X_train = add_years_from_prev_edu(X_train).drop(columns='Data vydaci')
X_test = add_years_from_prev_edu(X_test).drop(columns='Data vydaci')

In [15]:
def clear_nans(X):
    X['Obrazovanie'] = X['Obrazovanie'].fillna('nan')
    X['stud_mean'] = X['stud_mean'].fillna(X_train.append(X_test, 
                                  sort=True)['stud_mean'].mean()) # 4.18
    X['years_from_prev_edu'] = X['years_from_prev_edu'].fillna(X_train.append(X_test, 
                                  sort=True)['years_from_prev_edu'].mean()) # ?
    return X
X_train = clear_nans(X_train)
X_test = clear_nans(X_test)

In [16]:
X_train['is_male'] = X_train['Pol'].map({'M': True, 'J': False})
X_train.drop(columns='Pol', inplace=True)
X_test['is_male'] = X_test['Pol'].map({'M': True, 'J': False})
X_test.drop(columns='Pol', inplace=True)

In [17]:
categorical_cols = []
str_cat_cols = ['XX_ZZ_cipher', 'Obrazovanie', 'Forma obucenia', 'Kategoria obucenia']
int_cat_cols = ['KURS', 'Cto imenno zakoncil', 'XX_cipher', 'YY_cipher', 'ATTESTAZIA',
                'DISZIPLINA', 'GOD']
int_cols = ['years_from_prev_edu']
str_cols = []
for c in int_cat_cols:
    X_train[c] = X_train[c].astype(int).astype('category')
    X_test[c] = X_test[c].astype(int).astype('category')
for c in str_cat_cols:
    X_train[c] = X_train[c].astype(str).astype('category')
    X_test[c] = X_test[c].astype(str).astype('category')
for c in categorical_cols:
    X_train[c] = X_train[c].astype('category')
    X_test[c] = X_test[c].astype('category')
for c in int_cols:
    X_train[c] = X_train[c].astype(int)
    X_test[c] = X_test[c].astype(int)
for c in str_cols:
    X_train[c] = X_train[c].astype(str)
    X_test[c] = X_test[c].astype(str)

In [19]:
for c in X_train.columns:
    print(repr(c), 'of type', X_train[c].dtype, 'contains', len(X_train[c].unique()), 
        'unique values and', X_train[c].isna().sum(), 'nans')

'STD_ID' of type int64 contains 5084 unique values and 0 nans
'GOD' of type category contains 7 unique values and 0 nans
'KURS' of type category contains 6 unique values and 0 nans
'ATTESTAZIA' of type category contains 5 unique values and 0 nans
'DISZIPLINA' of type category contains 1400 unique values and 0 nans
'mark' of type int64 contains 3 unique values and 0 nans
'Kategoria obucenia' of type category contains 2 unique values and 0 nans
'Forma obucenia' of type category contains 3 unique values and 0 nans
'Obrazovanie' of type category contains 8 unique values and 0 nans
'Cto imenno zakoncil' of type category contains 225 unique values and 0 nans
'XX_cipher' of type category contains 28 unique values and 0 nans
'YY_cipher' of type category contains 3 unique values and 0 nans
'XX_ZZ_cipher' of type category contains 37 unique values and 0 nans
'stud_mean' of type float64 contains 916 unique values and 0 nans
'is_first_semester' of type category contains 2 unique values and 0 nans
'years_from_prev_edu' of type int64 contains 32 unique values and 0 nans
'is_male' of type bool contains 2 unique values and 0 nans

In [20]:
X_test

,STD_ID,GOD,KURS,ATTESTAZIA,DISZIPLINA,Kategoria obucenia,Forma obucenia,Obrazovanie,Cto imenno zakoncil,XX_cipher,YY_cipher,XX_ZZ_cipher,stud_mean,is_first_semester,years_from_prev_edu,is_male
0,163261,2018,3,0,260,BP,Z,SP,30,35,3,35.03,4.095238,True,0,False
1,162990,2019,4,4,1028,BP,D,SR,39,23,3,23.03,3.896552,True,0,False
2,192595,2018,1,4,269,DOG,D,SR,39,40,3,40.03,3.909091,False,0,True
3,198675,2018,2,0,230,DOG,D,SR,185,38,3,38.03,4.227273,True,0,True
4,162111,2018,3,4,1292,BP,D,SR,58,44,3,44.03,4.526316,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26260,164804,2019,4,4,1278,BP,D,SR,39,31,5,31.05,4.461538,True,0,False
26261,170508,2019,4,0,41,DOG,Z,SP,30,40,3,40.03,3.965517,True,1,False
26262,178316,2017,1,4,141,DOG,D,SR,39,31,5,31.05,3.714286,False,0,False
26263,186542,2019,2,0,228,BP,D,SP,30,46,3,46.03,3.916667,True,0,False
26264,182741,2018,2,4,25,DOG,D,SR,140,9,3,09.03,3.285714,True,2,True

In [ ]:
from catboost import CatBoostClassifier
from sklearn.metrics import mean_absolute_error
model = CatBoostClassifier(random_seed = 1489, border_count = 254,
    iterations = 1300, one_hot_max_size = 2, depth = 10, learning_rate = 0.07,
    cat_features = categorical_cols + str_cat_cols + int_cat_cols + ['is_male', 'is_first_semester'], 
    logging_level = 'Silent')

model.fit(X_train.drop(columns=['STD_ID', 'mark']), X_train['mark'])

In [ ]:
import datetime

y_pred = pd.read_csv(data_prefix + 'sample_submission.csv',index_col=0)
y_pred["mark"] = model.predict(X_test.drop(columns=['STD_ID']))
y_pred.to_csv("submission" + str(datetime.datetime.now()) + ".csv")