In [260]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [1]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 65kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.0.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [12]:
!git clone https://ueberchild:mypass@github.com/trmasha2002/nti_final_bdimo.git

Cloning into 'nti_final_bdimo'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 31 (delta 8), reused 24 (delta 4), pack-reused 0
Unpacking objects: 100% (31/31), done.

In [0]:
import pandas as pd
import numpy as np

In [0]:
import os
data_prefix = ''
if os.path.isdir('data/'):
  data_prefix = 'data/'
if os.path.isdir('nti_final_bdimo'):
  data_prefix = 'nti_final_bdimo/'
  if os.path.isdir('nti_final_bdimo/data'):
    data_prefix += 'data/'
del os
studs_info = pd.read_csv(data_prefix + 'studs_info.csv')
X_train = pd.read_csv(data_prefix + 'X_train.csv', index_col=0)
y_train = pd.read_csv(data_prefix + 'y_train.csv',index_col=0)
X_test = pd.read_csv(data_prefix + 'X_test.csv', index_col=0)

In [263]:
X_train

        STD_ID  ...                                         ДИСЦИПЛИНА
51081   175711  ...                                          Маркетинг
72921   100647  ...  Пропедевтика внутренних болезней, лучевая диаг...
96438   199311  ...                                              Химия
273044  162002  ...                                         Статистика
371309  108384  ...                                          Педиатрия
...        ...  ...                                                ...
224856  176141  ...                              Конституционное право
260998  182794  ...                              Нормальная физиология
57245   162391  ...                                   Иностранный язык
218529  202479  ...                                        Информатика
233318  182325  ...           Технологические процессы в строительстве

[105058 rows x 7 columns]

In [0]:
def date_cleaning(X):
  for i in range(len(X)):
    X.at[i, 'Дата выдачи'] = str(X.at[i, 'Дата выдачи'])[:str(X.at[i, 'Дата выдачи']).find(' 00:00:00')]
    X.at[i, 'Дата выдачи'] = X.at[i, 'Дата выдачи'].replace('3017', '2017').replace('2105', '2015')
    if str(X.at[i, 'Дата выдачи']).startswith('29'):
      X.at[i, 'Дата выдачи'] = '20' + str(X.at[i, 'Дата выдачи'])[2:]
    for t_r in (('27.06.021', '2014-06-27'), ('24.06.021', '2016-06-24'), 
    ('20.06.021', '2017-06-29'), ('25.06.021', '2015-06-25'), ('6014-06-26', '2014-06-26'),
    ('2017-01-', '2017-01-01'), ('2017-01-0', '2017-01-05'), ('2017-06-', '2017-06-15'),
    ('2014-03-0', '2014-03-03'), ('6014-01-01', '2014-01-01'), ('20.02.100', '2009-02-20')):
      if X.at[i, 'Дата выдачи'] == t_r[0]:
        X.at[i, 'Дата выдачи'] = t_r[1]
    if X.at[i, 'Дата выдачи'] in ('na', 'Non', 'N', 'Na', '6014-', '6', '6014', '601', '60', '291', '29'):
      X.at[i, 'Дата выдачи'] = None
    X.at[i, 'Дата выдачи'] = pd.to_datetime(X.at[i, 'Дата выдачи'])
  X['Дата выдачи'] = pd.to_datetime(X['Дата выдачи'])
  return X
studs_info = date_cleaning(studs_info).sort_values(by='Дата выдачи').drop_duplicates(
    keep='last', subset='STD_ID'
)

In [265]:
studs_info

      STD_ID     number  ... Дата выдачи                 Что именно закончил
2660  193905     5208.0  ...  1983-06-30                     ТЕХНИКУМ ДРУГОЙ
5449  113179     1216.0  ...  1986-03-17           ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
2066  198298     6933.0  ...  1986-08-28                     ТЕХНИКУМ ДРУГОЙ
1730  192576     5045.0  ...  1989-06-17                        СОШ , МАРЕВО
3378  182240     4975.0  ...  1989-06-28  БОРОВИЧСКИЙ ПЕДАГОГИЧЕСКИЙ КОЛЛЕДЖ
...      ...        ...  ...         ...                                 ...
5441  192577     6545.0  ...         NaT                                 NaN
5442  191636     5389.0  ...         NaT                                 NaN
5443  191638     5422.0  ...         NaT                                 NaN
5464  191625     3765.0  ...         NaT                                 NaN
5465  194978     5245.0  ...         NaT                                 NaN

[5104 rows x 13 columns]

In [0]:
X_train['mark'] = y_train['mark']

In [0]:
studs_info = studs_info.set_index('STD_ID')
def merge_with_studs_info(X):
  for c in set(studs_info.columns) - {'STD_ID', '   ', '   number', 'Дата выпуска', 'Статус', 
             'направление (специальность)'}:
    X[c] = X.apply(lambda row: studs_info.at[row['STD_ID'], c], axis = 1)
  return X
X_train = merge_with_studs_info(X_train).drop(columns='НАПРАВЛЕНИЕ')
X_test = merge_with_studs_info(X_test).drop(columns='НАПРАВЛЕНИЕ')
del studs_info

In [0]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

to_encode = ('АТТЕСТАЦИЯ', 'ДИСЦИПЛИНА', 'Что именно закончил')
for t_e in to_encode:
  X_train[t_e] = X_train[t_e].fillna('NaN').astype(str)
  X_test[t_e] = X_test[t_e].fillna('NaN').astype(str)
  le.fit(X_train.append(X_test, sort=True).loc[:,t_e])
  X_train.loc[:, t_e] = le.transform(X_train.loc[:,t_e])
  X_test.loc[:, t_e] = le.transform(X_test.loc[:, t_e])

In [0]:
def cipher_splitting(X):
  X = X.merge(pd.DataFrame(X.Шифр.str.split('.').tolist(), 
        columns = ['XX_cipher','YY_cipher', 'ZZ_cipher']), 
        on = X.index).drop(columns='key_0')
  X['XX_ZZ_cipher'] = X[['XX_cipher', 'YY_cipher']].agg('.'.join, axis=1)
  return X.drop(columns=['Шифр', 'ZZ_cipher'])
X_train = cipher_splitting(X_train)
X_test = cipher_splitting(X_test)

In [0]:
stud_mean_mark = X_train.groupby("STD_ID").mean()["mark"]
X_train.loc[:,"stud_mean"] = X_train.loc[:,"STD_ID"].map(stud_mean_mark)
X_test.loc[:,"stud_mean"] = X_test.loc[:,"STD_ID"].map(stud_mean_mark)

In [0]:
def cyrillic_cleaning(X):
  trans = lambda x: x.translate({ord(a):ord(b) for a, b in zip(u"абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ",
            u"abvgdeejzijklmnoprstufhzcss_y_euaABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA")})

  for c in tuple(X.columns):
    new_c = trans(c)
    X.rename(columns={c:trans(new_c)}, inplace = True)
    if X[new_c].dtype.name in ('str', 'object', 'category'):
      for ro in range(len(X)):
        if type(X.at[ro, new_c]) == str:
          X.at[ro, new_c] = trans(X.at[ro, new_c])
  return X
X_train = cyrillic_cleaning(X_train)
X_test = cyrillic_cleaning(X_test)

In [0]:
X_train['SEMESTR'] = X_train['SEMESTR'].mod(2)
X_test['SEMESTR'] = X_test['SEMESTR'].mod(2)
X_train['KURS'] = X_train['KURS'].astype(int)
X_test['KURS'] = X_test['KURS'].astype(int)

In [0]:
for i in range(len(X_train)):
  X_train.at[i, 'GOD'] = str(X_train.at[i, 'GOD'])[:str(X_train.at[i, 'GOD']).find('-')]
for i in range(len(X_test)):
  X_test.at[i, 'GOD'] = str(X_test.at[i, 'GOD'])[:str(X_test.at[i, 'GOD']).find('-')]
X_train['GOD'] = X_train['GOD'].astype(int)
X_test['GOD'] = X_test['GOD'].astype(int)

In [0]:
def add_years_from_prev_edu(X):
  def to_apply(row):
    if type(row['Data vydaci']) == pd._libs.tslibs.nattype.NaTType:
      return None
    return row['GOD'] - row['Data vydaci'].year + 1 - row['KURS']
  X['years_from_prev_edu'] = X.apply(to_apply, axis=1)
  return X
X_train = add_years_from_prev_edu(X_train).drop(columns='Data vydaci')
X_test = add_years_from_prev_edu(X_test).drop(columns='Data vydaci')

In [0]:
def clear_nans(X):
  X['Obrazovanie'] = X['Obrazovanie'].fillna('nan')
  X['stud_mean'] = X['stud_mean'].fillna(X_train.append(X_test, sort=True)['stud_mean'].mean()) # 4.18
  X['years_from_prev_edu'] = X['years_from_prev_edu'].fillna(X_train.append(X_test, 
                                  sort=True)['years_from_prev_edu'].mean()) # 2.55
  return X
X_train = clear_nans(X_train)
X_test = clear_nans(X_test)

In [0]:
X_train['is_male'] = X_train['Pol'].map({'M': True, 'J': False})
X_train.drop(columns='Pol', inplace=True)
X_test['is_male'] = X_test['Pol'].map({'M': True, 'J': False})
X_test.drop(columns='Pol', inplace=True)

In [0]:
categorical_cols = []
str_cat_cols = ['XX_ZZ_cipher', 'Obrazovanie', 'Forma obucenia', 'Kategoria obucenia']
int_cat_cols = ['KURS', 'Cto imenno zakoncil', 'XX_cipher', 'YY_cipher', 'ATTESTAZIA',
                'DISZIPLINA', 'SEMESTR', 'GOD', 'years_from_prev_edu']
int_cols = []
str_cols = []
for c in int_cat_cols:
  X_train[c] = X_train[c].astype(int).astype('category')
  X_test[c] = X_test[c].astype(int).astype('category')
for c in str_cat_cols:
  X_train[c] = X_train[c].astype(str).astype('category')
  X_test[c] = X_test[c].astype(str).astype('category')
for c in categorical_cols:
  X_train[c] = X_train[c].astype('category')
  X_test[c] = X_test[c].astype('category')
for c in int_cols:
  X_train[c] = X_train[c].astype(int)
  X_test[c] = X_test[c].astype(int)
for c in str_cols:
  X_train[c] = X_train[c].astype(str)
  X_test[c] = X_test[c].astype(str)

In [0]:
# %matplotlib inline
# import matplotlib.pyplot as plt
# import seaborn as sns
# sns.distplot(X_train['GOD'])

In [279]:
for c in X_train.columns:
  print(repr(c), 'of type', X_train[c].dtype, 'contains', X_train[c].isna().sum(), 'nans')

'STD_ID' of type int64 contains 0 nans
'GOD' of type category contains 0 nans
'KURS' of type category contains 0 nans
'SEMESTR' of type category contains 0 nans
'ATTESTAZIA' of type category contains 0 nans
'DISZIPLINA' of type category contains 0 nans
'mark' of type int64 contains 0 nans
'Obrazovanie' of type category contains 0 nans
'Forma obucenia' of type category contains 0 nans
'Kategoria obucenia' of type category contains 0 nans
'Cto imenno zakoncil' of type category contains 0 nans
'XX_cipher' of type category contains 0 nans
'YY_cipher' of type category contains 0 nans
'XX_ZZ_cipher' of type category contains 0 nans
'stud_mean' of type float64 contains 0 nans
'years_from_prev_edu' of type category contains 0 nans
'is_male' of type bool contains 0 nans

In [280]:
X_test

       STD_ID   GOD KURS  ... stud_mean years_from_prev_edu is_male
0      163261  2018    3  ...  4.095238                   0   False
1      162990  2019    4  ...  3.896552                   0   False
2      192595  2018    1  ...  3.909091                   0    True
3      198675  2018    2  ...  4.227273                   0    True
4      162111  2018    3  ...  4.526316                   0   False
...       ...   ...  ...  ...       ...                 ...     ...
26260  164804  2019    4  ...  4.461538                   0   False
26261  170508  2019    4  ...  3.965517                   1   False
26262  178316  2017    1  ...  3.714286                   0   False
26263  186542  2019    2  ...  3.916667                   0   False
26264  182741  2018    2  ...  3.285714                   2    True

[26265 rows x 16 columns]

In [282]:
from catboost import CatBoostClassifier
model = CatBoostClassifier(
    cat_features = categorical_cols + str_cat_cols + int_cat_cols + ['is_male', ], 
    logging_level = 'Silent', random_seed = 1489) # , loss_function = 'MAE'
model.fit(X_train.drop(columns=['STD_ID', 'mark']), X_train['mark'])

In [0]:
import datetime

y_pred = pd.read_csv(data_prefix + 'sample_submission.csv',index_col=0)
y_pred["mark"] = model.predict(X_test.drop(columns=['STD_ID']))
y_pred.to_csv("submission" + str(datetime.datetime.now()) + ".csv")

In [284]:
y_pred

        mark
index
56065      4
304637     4
177437     4
222396     4
271996     4
...      ...
49838      5
273753     3
35426      3
160476     4
18547      3

[26265 rows x 1 columns]