In [ ]:
!pip install catboost

In [ ]:
!git clone https://ueberchild:c3x99i8tN0Sx4SF@github.com/trmasha2002/nti_final_bdimo.git

In [1]:
using_catboost = True # and only it
import pandas as pd
import numpy as np

In [2]:
import os
data_prefix = ''
if os.path.isdir('data/'):
    data_prefix = 'data/'
if os.path.isdir('nti_final_bdimo'):
    data_prefix = 'nti_final_bdimo/'
    if os.path.isdir('nti_final_bdimo/data'):
        data_prefix += 'data/'
del os
studs_info = pd.read_csv(data_prefix + 'studs_info.csv')
X_train = pd.read_csv(data_prefix + 'X_train.csv', index_col=0)
y_train = pd.read_csv(data_prefix + 'y_train.csv',index_col=0)
X_test = pd.read_csv(data_prefix + 'X_test.csv', index_col=0)
# zachety = pd.read_csv(data_prefix + 'zachety.csv', index_col=0)

In [3]:
X_train

,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА
51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг
72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг..."
96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия
273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика
371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия
...,...,...,...,...,...,...,...
224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право
260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология
57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык
218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика
233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве

In [4]:
def date_cleaning(X):
    for i in range(len(X)):
        X.at[i, 'Дата выдачи'] = str(X.at[i, 'Дата выдачи'])[:str(X.at[i, 'Дата выдачи']).find(' 00:00:00')]
        X.at[i, 'Дата выдачи'] = X.at[i, 'Дата выдачи'].replace('3017', '2017').replace('2105', '2015')
        if str(X.at[i, 'Дата выдачи']).startswith('29'):
            X.at[i, 'Дата выдачи'] = '20' + str(X.at[i, 'Дата выдачи'])[2:]
        for t_r in (('27.06.021', '2014-06-27'), ('24.06.021', '2016-06-24'), 
        ('20.06.021', '2017-06-29'), ('25.06.021', '2015-06-25'), ('6014-06-26', '2014-06-26'),
        ('2017-01-', '2017-01-01'), ('2017-01-0', '2017-01-05'), ('2017-06-', '2017-06-15'),
        ('2014-03-0', '2014-03-03'), ('6014-01-01', '2014-01-01'), ('20.02.100', '2009-02-20')):
            if X.at[i, 'Дата выдачи'] == t_r[0]:
                X.at[i, 'Дата выдачи'] = t_r[1]
        if X.at[i, 'Дата выдачи'] in ('na', 'Non', 'N', 'Na', '6014-', '6', '6014', '601', '60', '291', '29'):
            X.at[i, 'Дата выдачи'] = None
        X.at[i, 'Дата выдачи'] = pd.to_datetime(X.at[i, 'Дата выдачи'])
    X['Дата выдачи'] = pd.to_datetime(X['Дата выдачи'])
    return X
studs_info = date_cleaning(studs_info).sort_values(by='Дата выдачи').drop_duplicates(
    keep='last', subset='STD_ID'
)

In [5]:
studs_info

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
2660,193905,5208.0,Ж,СТ,NaN,ДОГ,З,44.03.03,Специальное (дефектологическое) образование,6324.0,СП,1983-06-30,ТЕХНИКУМ ДРУГОЙ
5449,113179,1216.0,Ж,СТ,NaN,БП,Д,31.05.01,Лечебное дело,2976.0,СП,1986-03-17,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
2066,198298,6933.0,М,СТ,NaN,ДОГ,З,38.03.02,Менеджмент,7099.0,СП,1986-08-28,ТЕХНИКУМ ДРУГОЙ
1730,192576,5045.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,10920.0,СР,1989-06-17,"СОШ , МАРЕВО"
3378,182240,4975.0,Ж,СТ,NaN,ДОГ,З,37.03.01,Психология,10866.0,СП,1989-06-28,БОРОВИЧСКИЙ ПЕДАГОГИЧЕСКИЙ КОЛЛЕДЖ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,192577,6545.0,М,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5442,191636,5389.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5443,191638,5422.0,М,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5464,191625,3765.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN
5465,194978,5245.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaT,NaN

In [6]:
X_train['mark'] = y_train['mark']
X_train.drop_duplicates(inplace = True)

In [7]:
studs_info = studs_info.set_index('STD_ID')
def merge_with_studs_info(X):
    for c in set(studs_info.columns) - {'STD_ID', '   ', '   number', 'Дата выпуска', 
                                      'Статус', 'направление (специальность)'}:
        X[c] = X.apply(lambda row: studs_info.at[row['STD_ID'], c], axis = 1)
    return X
X_train = merge_with_studs_info(X_train).drop(columns='НАПРАВЛЕНИЕ')
X_test = merge_with_studs_info(X_test).drop(columns='НАПРАВЛЕНИЕ')
del studs_info

In [8]:
def cipher_splitting(X):
    X = X.merge(pd.DataFrame(X.Шифр.str.split('.').tolist(), 
        columns = ['XX_cipher','YY_cipher', 'ZZ_cipher']), 
        on = X.index).drop(columns='key_0')
    X['XX_ZZ_cipher'] = X[['XX_cipher', 'YY_cipher']].agg('.'.join, axis=1)
    return X.drop(columns=['Шифр', 'ZZ_cipher'])
X_train = cipher_splitting(X_train)
X_test = cipher_splitting(X_test)

In [9]:
stud_mean_mark = X_train.groupby("STD_ID")["mark"].mean()
X_train.loc[:,"stud_mean"] = X_train.loc[:,"STD_ID"].map(stud_mean_mark)
X_test.loc[:,"stud_mean"] = X_test.loc[:,"STD_ID"].map(stud_mean_mark)

In [10]:
def cyrillic_cleaning(X):
    trans_dict = {ord(a):ord(b) for a, b in zip(
            u"абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ",
            u"abvgdeejzijklmnoprstufhzcss_y_euaABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA")}
    
    for c in tuple(X.columns):
        new_c = c.translate(trans_dict)
        X.rename(columns={c:new_c}, inplace = True)
        if X[new_c].dtype.name in ('str', 'object', 'category'):
            for ro in range(len(X)):
                if type(X.at[ro, new_c]) == str:
                    X.at[ro, new_c] = X.at[ro, new_c].translate(trans_dict)
    return X
X_train = cyrillic_cleaning(X_train)
X_test = cyrillic_cleaning(X_test)

In [11]:
for i in range(len(X_train)):
    X_train.at[i, 'GOD'] = str(X_train.at[i, 'GOD'])[:str(X_train.at[i, 'GOD']).find('-')]
for i in range(len(X_test)):
    X_test.at[i, 'GOD'] = str(X_test.at[i, 'GOD'])[:str(X_test.at[i, 'GOD']).find('-')]
X_train['GOD'] = X_train['GOD'].astype(int)
X_test['GOD'] = X_test['GOD'].astype(int)

X_train['KURS'] = X_train['KURS'].astype(int)
X_test['KURS'] = X_test['KURS'].astype(int)

In [12]:
def add_years_from_prev_edu(X):
    def to_apply(row):
        if type(row['Data vydaci']) == pd._libs.tslibs.nattype.NaTType:
            return None
        return row['GOD'] - row['Data vydaci'].year + 1 - row['KURS']
    X['years_from_prev_edu'] = X.apply(to_apply, axis=1)
    return X
X_train = add_years_from_prev_edu(X_train).drop(columns='Data vydaci')
X_test = add_years_from_prev_edu(X_test).drop(columns='Data vydaci')

In [13]:
def clear_nans(X):
    X['Obrazovanie'] = X['Obrazovanie'].fillna('nan')
    X['stud_mean'] = X['stud_mean'].fillna(X_train.append(X_test, 
                                  sort=True)['stud_mean'].mean()) # 4.18
    X['years_from_prev_edu'] = X['years_from_prev_edu'].fillna(X_train.append(X_test, 
                                  sort=True)['years_from_prev_edu'].mean()) # ?
    return X
X_train = clear_nans(X_train)
X_test = clear_nans(X_test)

In [14]:
X_train['male'] = X_train['Pol'].map({'M': True, 'J': False})
X_train.drop(columns='Pol', inplace=True)
X_test['male'] = X_test['Pol'].map({'M': True, 'J': False})
X_test.drop(columns='Pol', inplace=True)

X_train['paid_edu'] = X_train['Kategoria obucenia'].map({'DOG': True, 'BP': False})
X_train.drop(columns='Kategoria obucenia', inplace=True)
X_test['paid_edu'] = X_test['Kategoria obucenia'].map({'DOG': True, 'BP': False})
X_test.drop(columns='Kategoria obucenia', inplace=True)

X_train['first_semester'] = X_train['SEMESTR'].mod(2)
X_train.drop(columns='SEMESTR', inplace=True)
X_test['first_semester'] = X_test['SEMESTR'].mod(2)
X_test.drop(columns='SEMESTR', inplace=True)

In [15]:
int_cols = ['years_from_prev_edu',]
str_cols = ['KURS', 'Cto imenno zakoncil', 'XX_cipher', 'YY_cipher', 'ATTESTAZIA',
    'DISZIPLINA', 'GOD', 'XX_ZZ_cipher', 'Obrazovanie', 'Forma obucenia']
bool_cols = ['male', 'first_semester', 'paid_edu']
for c in int_cols:
    X_train[c] = X_train[c].astype(int)
    X_test[c] = X_test[c].astype(int)
for c in str_cols:
    X_train[c] = X_train[c].astype(str)
    X_test[c] = X_test[c].astype(str)
for c in bool_cols:
    X_train[c] = X_train[c].astype(bool)
    X_test[c] = X_test[c].astype(bool)

In [16]:
for c in X_train.columns:
    print(repr(c), 'of type', X_train[c].dtype, 'contains', len(X_train[c].unique()), 
        'unique values and', X_train[c].isna().sum(), 'nans')
print()
for c in X_train.columns:
    print(X_train.groupby(c)['mark'].mean())
    print()

'STD_ID' of type int64 contains 5084 unique values and 0 nans
'GOD' of type object contains 7 unique values and 0 nans
'KURS' of type object contains 6 unique values and 0 nans
'ATTESTAZIA' of type object contains 5 unique values and 0 nans
'DISZIPLINA' of type object contains 1400 unique values and 0 nans
'mark' of type int64 contains 3 unique values and 0 nans
'Obrazovanie' of type object contains 8 unique values and 0 nans
'Forma obucenia' of type object contains 3 unique values and 0 nans
'Cto imenno zakoncil' of type object contains 225 unique values and 0 nans
'XX_cipher' of type object contains 28 unique values and 0 nans
'YY_cipher' of type object contains 3 unique values and 0 nans
'XX_ZZ_cipher' of type object contains 37 unique values and 0 nans
'stud_mean' of type float64 contains 916 unique values and 0 nans
'years_from_prev_edu' of type int64 contains 32 unique values and 0 nans
'male' of type bool contains 2 unique values and 0 nans
'paid_edu' of type bool contains 2 unique values and 0 nans
'first_semester' of type bool contains 2 unique values and 0 nans

STD_ID
57258     3.555556
58419     3.870968
62101     3.827586
65970     4.210526
66520     3.681818
            ...
203270    4.250000
203271    3.857143
203272    3.857143
203283    3.666667
203284    4.000000
Name: mark, Length: 5084, dtype: float64

GOD
2013    4.092033
2014    4.127540
2015    4.104441
2016    4.138081
2017    4.170785
2018    4.212443
2019    4.236803
Name: mark, dtype: float64

KURS
1    4.113697
2    4.139623
3    4.222239
4    4.315951
5    4.421577
6    4.525720
Name: mark, dtype: float64

ATTESTAZIA
Differenzirovannyj zacet    4.293297
Ekzamen                     4.126456
Kursovaa rabota             4.131474
Kursovoj proekt             3.944819
Zacet                       4.454545
Name: mark, dtype: float64

DISZIPLINA
1S:predpriatie                                                    4.451923
Administrativnoe pravo                                            3.916129
Agroekologia                                                      4.555556
Agrohimia                                                         4.705882
Agrolandsafty                                                     4.600000
                                                                    ...
Zoogigiena s osnovami proektirovania jivotnovodceskih ob_ektov    4.414634
Zoologia                                                          4.277778
Zoologia bespozvonocnyh                                           4.315789
Zoologia pozvonocnyh                                              4.611111
Zoologia s osnovami obsej biologii                                4.255814
Name: mark, Length: 1400, dtype: float64

mark
3    3
4    4
5    5
Name: mark, dtype: int64

Obrazovanie
NP     3.964939
NS     4.611111
NV     3.909091
OO     3.800000
OSN    4.062500
SP     4.029179
SR     4.216294
nan    4.166777
Name: mark, dtype: float64

Forma obucenia
D    4.246918
V    4.130317
Z    3.978635
Name: mark, dtype: float64

Cto imenno zakoncil
Agrarnyj tehnikum g.Novgorod                        3.973753
BOROVICSKIJ AVTOMOBIL_NO-DOROJNYJ KOLLEDJ           3.926773
BOROVICSKIJ PEDAGOGICESKIJ KOLLEDJ                  4.170213
BOROVICSKIJ TEHNIKUM STROITEL_NOJ INDUSTRII         3.724138
BOROVICSKOE MEDIZINSKOE UCILISE                     4.406250
                                                      ...
nan                                                 4.166777
pskovskoe obl. kul_turno-prosvetitel_noe ucilise    4.741935
ptu 15                                              4.076923
tehnikum                                            3.437500
velikolukskij stroitel_nyj tehnikum                 4.117647
Name: mark, Length: 225, dtype: float64

XX_cipher
01    4.126904
04    4.275340
05    4.424932
06    4.460150
07    4.384101
08    3.921523
09    4.055199
11    4.086436
13    3.789527
15    3.838470
21    4.261981
23    3.724313
29    4.218987
31    4.183942
33    3.996692
34    4.651163
35    4.057563
36    4.403893
37    4.227468
38    4.117075
40    3.996726
42    4.315377
44    4.378240
45    4.332273
46    4.475904
47    4.597368
51    4.514563
54    4.557401
Name: mark, dtype: float64

YY_cipher
03    4.181422
04    4.704044
05    4.172968
Name: mark, dtype: float64

XX_ZZ_cipher
01.03    4.032197
01.04    4.920635
04.05    4.275340
05.03    4.424932
06.03    4.460150
07.03    4.384101
08.03    3.914075
08.04    4.651163
09.03    4.055199
11.03    4.021994
11.04    4.759259
13.03    3.789527
15.03    3.827869
15.04    4.211538
21.03    4.261981
23.03    3.724313
29.03    4.218987
31.05    4.183942
33.05    3.996692
34.03    4.651163
35.03    4.057563
36.03    4.372312
36.04    4.705128
37.03    4.227468
38.03    4.112758
38.04    4.556604
40.03    3.951955
40.04    4.711640
42.03    4.312130
42.04    4.785714
44.03    4.378240
45.03    4.320857
45.04    4.833333
46.03    4.475904
47.03    4.597368
51.03    4.514563
54.03    4.557401
Name: mark, dtype: float64

stud_mean
3.000000    3.000000
3.058824    3.058824
3.071429    3.071429
3.076923    3.076923
3.080000    3.080000
              ...
4.972222    4.972222
4.973684    4.973684
4.977273    4.977273
4.978261    4.978261
5.000000    5.000000
Name: mark, Length: 916, dtype: float64

years_from_prev_edu
-1     4.224490
 0     4.308324
 1     3.986652
 2     3.844502
 3     3.930587
 4     4.139901
 5     4.019027
 6     4.008230
 7     4.035644
 8     3.943478
 9     4.102222
 10    4.081301
 11    4.202652
 12    3.988584
 13    3.922849
 14    4.201681
 15    4.156780
 16    4.149038
 17    4.044248
 18    4.250000
 19    4.321678
 20    4.250000
 21    4.458333
 22    4.075000
 23    4.043478
 24    4.328125
 25    4.437500
 27    4.666667
 28    4.649123
 29    4.297297
 32    4.000000
 35    4.500000
Name: mark, dtype: float64

male
False    4.326895
True     3.961335
Name: mark, dtype: float64

paid_edu
False    4.391730
True     3.937139
Name: mark, dtype: float64

first_semester
False    4.218064
True     4.158607
Name: mark, dtype: float64

In [17]:
full_df = X_train.append(X_test, sort=True)

In [18]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
for c in str_cols:
    X_train[c] = X_train[c].fillna('NaN').astype(str)
    X_test[c] = X_test[c].fillna('NaN').astype(str)
    enc.fit(full_df.loc[:,c])
    X_train.loc[:, c] = enc.transform(X_train.loc[:,c])
    X_test.loc[:, c] = enc.transform(X_test.loc[:, c])

In [19]:
to_onehot = []
if not using_catboost:
    from sklearn.preprocessing import OneHotEncoder
    one_hot_max_size = 15
    
    for c in str_cols:
        if len(full_df[c].unique()) <= one_hot_max_size:
            to_onehot.append(c)
    def one_hot(X):
        dummies = pd.get_dummies(X[to_onehot], columns=to_onehot)
        for c in dummies.columns:
            dummies[c] = dummies[c].astype(bool)
        return X.drop(columns = to_onehot).merge(dummies, on = X.index)
    
    X_train = one_hot(X_train)
    X_test = one_hot(X_test)

In [20]:
if not using_catboost:
    to_mean_encode = set(str_cols) - set(to_onehot)
else:
    to_mean_encode = []
def mean_encode(X):
    for c in to_mean_encode:
        means = X_train.groupby(c)['mark'].mean()
        X[c + '_mean'] = X.apply(lambda row: means[row[c]] if row[c] in means else None, axis = 1)
    return X
X_train = mean_encode(X_train)
X_test = mean_encode(X_test)
X_train.drop(columns = to_mean_encode, inplace = True)
X_test.drop(columns = to_mean_encode, inplace = True)
resulted_mean_cols = [x + '_mean' for x in to_mean_encode] + ['stud_mean', ]

In [21]:
del full_df

In [22]:
if 'key_0' in X_train.columns:
    X_train.drop(columns='key_0', inplace = True)
if 'key_0' in X_test.columns:
    X_test.drop(columns='key_0', inplace = True)

In [23]:
X_train

,STD_ID,GOD,KURS,ATTESTAZIA,DISZIPLINA,mark,Obrazovanie,Forma obucenia,Cto imenno zakoncil,XX_cipher,YY_cipher,XX_ZZ_cipher,stud_mean,years_from_prev_edu,male,paid_edu,first_semester
0,175711,5,1,1,487,5,6,0,180,19,0,24,4.181818,0,True,False,False
1,100647,2,2,1,1032,5,6,0,31,13,2,17,4.116279,0,False,True,True
2,199311,6,0,1,271,5,6,0,17,13,2,17,4.750000,0,False,False,True
3,162002,4,1,1,1184,4,6,0,26,19,0,24,4.172414,0,True,False,True
4,108384,5,4,1,793,3,6,0,31,13,2,17,3.542857,1,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105053,176141,4,0,2,440,3,6,1,60,20,0,26,3.615385,4,False,True,False
105054,182794,5,1,1,633,3,6,0,31,13,2,17,4.052632,3,False,True,False
105055,162391,3,0,0,324,4,6,0,16,13,2,17,4.458333,0,False,False,False
105056,202479,4,0,0,290,4,6,2,26,19,0,24,4.187500,0,False,True,True
105057,182325,5,1,2,1245,4,5,2,36,5,0,6,3.724138,1,True,True,True

In [24]:
list(set(X_train.columns) - set(resulted_mean_cols) - 
                        set(int_cols) - {'STD_ID', 'mark'})

['male',
 'ATTESTAZIA',
 'Cto imenno zakoncil',
 'XX_cipher',
 'YY_cipher',
 'first_semester',
 'GOD',
 'KURS',
 'XX_ZZ_cipher',
 'Obrazovanie',
 'DISZIPLINA',
 'Forma obucenia',
 'paid_edu']

In [25]:
from catboost import CatBoostClassifier
model = CatBoostClassifier(random_seed = 1489, border_count = 254,
    iterations = 1300, depth = 10, learning_rate = 0.07,
    cat_features = list(set(X_train.columns) - set(resulted_mean_cols) - 
                        set(int_cols) - {'STD_ID', 'mark'}), 
    logging_level = 'Silent')

model.fit(X_train.drop(columns=['STD_ID', 'mark']), X_train['mark'])

In [26]:
import datetime

y_pred = pd.read_csv(data_prefix + 'sample_submission.csv',index_col=0)
y_pred["mark"] = model.predict(X_test.drop(columns=['STD_ID']))
y_pred.to_csv("submission" + str(datetime.datetime.now()) + ".csv")